<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JBMusic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>97AEDFFC1D52D70200F74F82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97AEE0151D52D70200F74F82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97AEE0201D52D70200F74F82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
